body {
    background: black;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
}

header div {
    display: flex;
    vertical-align: center;
}

.row {
    display: flex;
}

.cel {
    box-sizing: border-box;
    border: 1px solid black;
    height: 5px;
    width: 5px;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 5px;
}

input {
    width: 20px;
}


.alive {
    background: white;
}

.dead {
    background: black;
}

footer {
    display: flex;
    justify-content: center;
}