.row {
    display: flex;
}

.cel {
    border: 1px solid #F9F9F9;
    height: 20px;
    width: 20px;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.alive {
    background: black;
}

.dead {
    background: white;
}